.calculator {
  width: 250px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  background: #f4f4ff;
  text-align: center;
  box-shadow: 0px 0px 10px gray;
}

.display {
  margin-bottom: 10px;
}

input {
  width: 80%;
  padding: 10px;
  font-size: 18px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button {
  padding: 15px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  background: #d1d1d1;
  border-radius: 5px;
}

button:hover {
  background: #bbb;
}

.clear {
  grid-column: span 2;
  background: #ff4d4d;
  color: white;
}

.clear:hover {
  background: #d43f3f;
}
